html, body {
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: $main_font;
    background-color: $bg_section;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin block_align {
    display: block;
    text-align: center;
}

@mixin button {
    color: $main;
    font-weight: bold;
    font-size: 16px;
    background-color: $button;
    border: none;
    border-radius: 3px;
    padding: 5px;
    width: 140px;
    height: 50px;
    cursor: pointer;
}

@mixin link {
    color: $main;

    &:hover {
        text-decoration: none;
    }
}

$layer: (
    up: 100,
    down: -1
);

.header { 
    background: $bg-img;
    background-size: cover;
    background-position: left;
    border-bottom-right-radius: 39%;
    height: 90vh;

    &-wrap {
        margin-left: 200px;

        .landing-logo {
            color: $main;
            display: flex;
            padding-top: 20px;
            position: relative; 

            img { 
                width: 45px;
                height: 45px;
                margin-right: 20px;

            }

            p {
                @include flex;
                flex-direction: column;
                font-family: $second_font;
                font-size: 24px;
                font-weight: bold;
                line-height: 1.25;
                position: absolute;
                top: -5px;
                left: 60px;

                span {
                    font-size: 10px;
                }
            }
        }

        .header_heading {
            color: $heading_color;
            font-size: 70px;
            line-height: 1;
            width: 500px;
            margin-bottom: 40px;
            position: relative;
            z-index: map-get($layer, "up");

            &::after {
                content: "";
                background-color: $pseudo_color;
                position: absolute;
                left: 0;
                top: 90px;  
                width: 290px;
                height: 50px;
                z-index: map-get($layer, "down");
            }
        }

        .header_text {
            color: $paragraph_color;
            font-family: $second_font;
            max-width: 650px;
            line-height: 1.5;
            white-space: pre-line;
            margin-bottom: 55px;
        }

        .header_button {
            @include button;
        }
        
        .login {
            color: $main;
            font-family: $second_font;
            font-size: 18px;
            margin-left: 145px;
        }
    }
}

.section {
    @include flex;
    flex-direction: column;
    background-color: $bg_section;

    &_text { 
        color: $heading_color;
        font-size: 40px;
        letter-spacing: 2px;
        position: relative;
        z-index: map-get($layer, "up");

        &::after {
            content: "";
            background-color: $pseudo_color;
            position: absolute;
            left: 220px;  
            width: 210px;
            height: 50px;
            z-index: map-get($layer, "down");
        }
    }

    &_card_wrap {
        @include flex;
        flex-direction: column;

        .section_card {
            @include flex;
            background-color: $card_color;
            color: $main;
            width: 900px;
            height: 300px;
            margin-bottom: 20px;
            border-radius: 10px;

            img {
                width: 375px;
                height: 250px;
                border-radius: 10px;
                margin-right: 50px;
            }

            &_heading {
                @include block_align;
                font-size: 20px;
                margin-bottom: 20px;
            }

            &_text {
                line-height: 1.5;
                width: 450px;
            }

            a {
                @include block_align;
                @include link;
                color: $main;
            }
        }
    }

    &_banner {
        @include flex;
        justify-content: space-between;
        background: $gradient;
        margin-top: 100px;
        width: 1000px;
        height: 40px;
        border-radius: 5px;
        padding: 50px;
        margin-bottom: -60px;

        &_text_wrap {
            margin-left: 50px;
            margin-top: -50px;
        }

        &_heading {
            color: $heading_color;
            padding-top: 20px;
            font-size: 32px;
            margin-bottom: 0;
            position: relative;
            z-index: map-get($layer, "up");

            &::after {
            content: "";
            background-color: $pseudo_color;
            width: 65px;
            height: 40px;
            position: absolute;
            left: 120px;  
            z-index: map-get($layer, "down");
            }
        }

        &_text {
            color: $main;
        }

        &_button {
            @include button;
            margin-right: 200px;
        }
    }
}

.footer {
    background-color: $footer_color;
    width: 100%;
    height: 220px;

    &-wrap {
        color: $main;
        @include flex;
        justify-content: space-between;
        padding: 100px 50px 20px 50px;
    }

    &_logo {
        color: $main;
        display: flex;
        padding-top: 20px;
        position: relative; 

        img { 
            width: 45px;
            height: 45px;
            margin-right: 20px;

        }
        p {
            @include flex;
            flex-direction: column;
            font-family: $second_font;
            font-size: 24px;
            font-weight: bold;
            line-height: 1.25;
            position: absolute;
            top: -5px;
            left: 60px;

            span {
                font-size: 10px;
            }
        } 
    }

    &_text {
        font-size: 14px;
        width: 300px;
    }
}