$main_font: 'Source Sans Pro', sans-serif;
$second_font: 'Hind', sans-serif;
$bg-img: url("../img/m-h-day.jpg");
$heading_color: #2c303c;
$paragraph_color: #2c3542;
$pseudo_color: #15a0c7;
$button: #699902;
$main: white;
$bg_section: #fdfdfd;
$card_color: #20242e;
$gradient: linear-gradient(90deg, rgba(63,154,8,1) 0%, 
rgba(32,153,109,1) 41%, rgba(57,86,163,1) 91%);
$footer_color: #20242e;