/*
* Colors used in design.
*   primary: #0078aa;
*   dark: #363636;
*   light: #fff;
*/

/* Reset css start  */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, b, u, i, center, ol, ul, li,
fieldset, form, label, figure, figcaption, footer, header, nav, section{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Reset css end */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
}

.wrapper {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 100%;
}

.header_navigation {
  max-width: 100%;
  width: 100%;
  padding-top: 1%;
  padding-right: 10%; 
  padding-bottom: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: #fff;
}

.header_navigation nav {
  width: 400px;
}

.header_navigation_list {
  display: flex;
}

.header_navigation_list li {
  text-transform: uppercase;
  margin-right: 5%;
}

.header_navigation_list li:hover {
  color: #0078aa;
}

.up {
  font-size: 2em;
  background-color: #0078aa;
  color: white;
  width: 30px;
  height: 30px;
  padding: 15px;
  border-radius: 50%;
  position: fixed;
  right: 5%;
}

.header_heading {
  height: 70vh;
  background: url('../img/header_bg.jpg') no-repeat center;
  background-size: cover;
}

.header_heading h1 {
  max-width: 45%;
  font-weight: bold;
  font-size: 2.5vw;
  padding-top: 10%;
}

.header_heading p {
  padding-top: 2%;
  max-width: 40%;
}

.icons {
  display: flex;
  margin-top: 1%;
}

.icons svg {
  margin-right: 2%;
  width: 50px;
  height: 50px;
  color: white;
  background-color: #0078aa;
  padding: 10px;
  border-radius: 50%;
  border: none;
}

.icons svg:hover {
  background-color: #fff;
  border: 1px solid #0078aa;
  color: #0078aa;
  transition-duration: 0.3s
}

.about {
  margin-top: 4%;
  height: 70vh;
  background: url('../img/about_img.png') no-repeat;
  background-size: 50%;
}

.about_wrapper {
  text-align: left;
  width: 30%;
  max-width: 40%;
  margin-left: 52%;
  padding-top: 4%;
  padding-bottom: 3%;
}

.about_wrapper h2 {
  font-size: 200%;
  font-weight: bold;
}

.about_wrapper .heading_text {
  text-transform: uppercase;
  color: #0078aa;
  padding-top: 1%;
}

.about_wrapper h3 {
  font-size: 100%;
  font-weight: bold;
  margin-top: 5%;
}

.about_wrapper h3 + p {
  font-size: 100%;
  padding-top: 2%;
}

.services {
  margin-top: 1%;
  height: 70vh;
  background: url('../img/services_bg.jpg');
  background-size: cover;
  max-width: 100%;
  padding-bottom: 15%;
}

.services h2,
.services p {
  text-align: center;
}

.services h2 {
  padding-top: 4%;
  font-size: 200%;
  font-weight: bold;
}

.services h2 + p {
  text-transform: uppercase;
  font-size: 100%;
  padding-top: 0.5%;
}

.services_card {
  max-width: 100%;
  padding-left: 5%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-row-gap: 5%;
  grid-column-gap: 2%;
  padding-top: 3%;
  margin: auto 5%;
}

.cards {
  height: 30vh;
  padding: 3%;
  background-color: white;
}

.cards img {
  max-width: 35%;
  padding-left: 7%;
  padding-top: 5%;
}

.cards h3 {
  padding-left: 5%;
  padding-top: 2%;
  font-size: 100%;
  font-weight: bold;
}

.cards p {
  text-align: left;
  padding: 2%  5%;
}

.pricing {
  height: 70vh;
  background: url('../img/pricing_bg.jpg') no-repeat center;
  background-size: cover;
  padding-bottom: 15%;
  margin-bottom: 5%;
}

.pricing h2,
.pricing h2 + p {
  text-align: center;
}

.pricing h2 {
  font-size: 200%;
  font-weight: bold;
  padding-top: 5%;
}

.pricing p {
  text-transform: uppercase;
  font-size: 100%;
}

.offers {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 10%;
  margin-bottom: 10%;
}

.offer {
  width: 25%;
  height: 60%;
  text-align: center;
  background-color: #47C9E5;
  color: white;
  padding-bottom: 5%;
}

.offer:nth-child(2) {
  background-color: #fff;
  border: 1px solid #0078AA;
  color: #0078AA;
  padding-top: 3%;
  padding-bottom: 7%;
}

.offer h4,
.offer h3 {
  margin-top: 15%;
  font-size: 150%;
  font-weight: bold;
}

.offer h3 {
  margin-top: 5%;
  font-size: 300%;
}

.offer h3 + p {
  margin-top: 3%;
  text-transform: uppercase;
}

.offer ul {
  margin-top: 5%;
  margin-bottom: 10%;
}

.offer ul li {
  font-size: 75%;
  line-height: 3;
}

.get_offer {
  background-color: #fff;
  color: #0078AA;
  padding: 3%;
  font-weight: bold;
  border: 2px solid #0078AA;
  border-radius: 15px;
  margin-top: 1%;
}

.get_offer:hover {
  background-color: #0078aa;
  color: white;
}

.contact {
  padding-top: 10%;
  height: 55vh;
  display: flex;
  background: url('../img/contact_image.jpg') no-repeat left;
  background-size: 54%;
  padding-bottom: 5%;
  margin-left: -55px;
}

.form {
  margin-left: 55%;
}

.form h2 {
  font-size: 2.5vw;
  font-weight: bold;
}

.form h2 + p {
  font-size: 1.5vw;
  padding-top: 1%;
  text-transform: uppercase;
}

.contact_form input,
.contact_form button {
  display: block;
}

.contact_form input {
  width: 40vw;
  padding: 2%;
  border: none;
  border-bottom: 1px solid lightgray;
  margin: 10px;
}


input:not(#date) {
  font-style: italic;
}

.contact_form button {
margin-top: 3%;
padding: 2%;
min-width: 5vw;
border-radius: 10px;
border: none;
background-color: #0078AA;
color: white;
font-weight: bold;
}

.contact_form button:hover {
  cursor: pointer;
  background-color: white;
  color: #0078AA;
  border: 1px solid #0078AA;
}

.footer {
  background-color: #363636;
  text-align: center;
  padding-bottom: 1%;
  padding-top: 1%;
  color: white;
  margin-top: -2%;
  font-size: 75%;
}

@media screen and (max-width: 1280px) {
  .wrapper {
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .icons svg {
    width: 30px;
    height: 30px
  }

  .about_wrapper {
    width: 35%;
    max-width: 40%;
  }

  .about_wrapper h3 + p {
    font-size: 85%;
  }

  .cards p {
    font-size: 90%;
  }
  
}

@media screen and (max-width: 768px) {
  .header_navigation {
    flex-direction: column;

  }

  .header_heading {
    border-top: 1px solid white;
    height: 70vh;

    background-size: cover;
  }
  
  .header_heading h1 {
    max-width:  85%;
    min-width: 85%; 
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    padding-top: 10%;
    margin-top: 20%;
  }
  
  .header_heading p {
    padding-top: 2%;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
  }

  .icons {
   margin-left: 35%;
  }

  .about {
    margin-top: 4%;
    height: 100%;
    background-size: 100%;
    background-position: top;
  }
  
  .about_wrapper {
    text-align: center;
    width: 80%;
    max-width: 90%;
    padding-top: 4%;
    padding-bottom: 3%;
    margin: 0 auto;
  }
  
  .about_wrapper h2 {
    margin-top: 75%;
    font-size: 200%;
    font-weight: bold;
  }
  
  .about_wrapper .heading_text { 
    text-transform: uppercase;
    color: #0078aa;
    padding-top: 1%;
  }
  
  .about_wrapper h3 {
    font-size: 100%;
    font-weight: bold;
    margin-top: 5%;
  }
  
  .about_wrapper h3 + p {
    font-size: 100%;
    padding-top: 2%;
  } 

  .services {
    height: 100%;
  }

  .services_card {
    max-width: 100%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    margin: auto 5%;
  }

  .cards {
    margin-top: 5%;
  }

  .cards h3 {
    font-size: 200%;
  }

  .cards p {
    font-size: 120%;
    width: 100%;
  }

  .pricing {
    height: 80%;
    padding-bottom: 0;
  }

  .offers {
   flex-direction: column;
  }

  .offer {
    width: 80%;
    height: 80%;
    text-align: center;
    background-color: #47C9E5;
    color: white;
    padding-bottom: 5%;
    margin-bottom: 5%;
  }
  
  .offer:nth-child(2) {
    background-color: #fff;
    border: 1px solid #0078AA;
    color: #0078AA;
    padding-top: 3%;
    padding-bottom: 7%;
  }
  
  .offer h4,
  .offer h3 {
    font-size: 200%;
  }
  
  .offer h3 {
    font-size: 350%;
  }
  
  .offer ul li {
    font-size: 100%;
  }

  .contact {
    margin: 0;
    padding: 0;
    height: 100%;
    background-position: top;
    background-size: 100%;
  }
  
  .form {
    width: 100%;
    margin: 0 auto;
    margin-left: 5%;
    margin-top: 80%;
  }
  
  .form h2 {
    font-size: 200%;
    width: 40%;
    font-weight: bold;
    margin-left: 20%;
    text-align: center;
  }
  
  .form h2 + p {
    font-size: 75%;
    margin-left: 25%;

    padding-top: 1%;
    text-transform: uppercase;
  }
  
 .contact_form {
   margin-left: 15%;
 }

 .contact_form input {
   width: 80%;
 }

 .contact_form button {
   margin-left: 30%;
   margin-bottom: 5%;
 }

 .footer {
  padding-bottom: 3%;
  padding-top: 3%;
}

.up {
  font-size: 1em;
  width: 15px;
  height: 15px;
}

.cards {
  height: 100%;
}
}