/* write your styles here */
body {
    font-size: 18px;
}
#app-root {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}

.choose, 
.selection,
label {
    text-transform: uppercase;
}

.choose {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.selection {
    width: 125px;
    height: 30px;
    border-color: blue;
    margin-bottom: 25px;
}

.content_table {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.content_table p {
    padding-top: 5%;
}

table, tr, td, th {
    border-collapse: collapse;
    border: 1px solid lightgrey;
}

th {
    height: 50px;
    background-color: greenyellow;
}

tbody:nth-child(even) {
    background-color: lightcoral;
}

tbody:nth-child(odd) {
    background-color: lightcyan;
}

td:hover {
    background-color: lightseagreen;
    transition: .2s;
}

.span {
    cursor: pointer;
}