/* START: Task 1 Styles */
.table_game {
    text-align: center;
    border-collapse: collapse;
    width: 50%;
    height: 500px;
    margin: 0 auto;
    border: 1px solid grey;
}

.table_game td {
    width: 200px;
    border: 1px solid black;
    background-color: white;
}


/* END: Task 1 Styles */

/* START: Task 2 Styles */

#task2 {
    margin-top: 50px;
    text-align: center;
}

.message {
    color: white;
    font-size: 18px;
    border: 1px solid lightpink;
    width: 450px;
    margin: 0 auto;
    background-color: lightcoral;
}

.message span {
    display: block;
}

.formPhone {
    margin-top: 30px;
}

.formPhone input[type="text"] {
    border: 2px solid black;
    padding-left: 15px;
    font-size: 14px;
    width: 300px;
    height: 50px;
}

.formPhone input[type="submit"] {
    forced-color-adjust: none;
    cursor: pointer;
    font-size: 18px;
    border: none;
    background-color: cadetblue;
    height: 55px;
    width: 150px;
}

.display {
    display: none;
}
/* END: Task 2 Styles */

/* START: Task 3 Styles */

.A {
    text-align: left;
}

.B {
    text-align: right;
}

.field {
    margin: 0 auto;
    margin-top: 50px;
    background: url(./assets/court.png) center no-repeat;
    background-size: 100%;
    width: 600px;
    height: 330px;
    position: relative;
    margin-bottom: 100px;
}

.ball {
    position: absolute;
    top: 145px;
    left: 280px;
    transition: 1s all;
}

.hoop1 {
    width: 20px;
    height: 50px;
    position: absolute;
    top: 135px;
    left: 10px;
}

.hoop2 {
    position: absolute;
    top: 135px;
    right: 10px;
    width: 20px;
    height: 50px;
}


.field p {
    position: absolute;
    top: 320px;
}

.field p:nth-child(5) {
    left: 520px;
}

.goal {
    margin-top: -50px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

