html, body {
  margin: 0 auto;
  padding: 0; }

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #fdfdfd; }

.header {
  background: url("../img/m-h-day.jpg");
  background-size: cover;
  background-position: left;
  border-bottom-right-radius: 39%;
  height: 90vh; }
  .header-wrap {
    margin-left: 200px; }
    .header-wrap .landing-logo {
      color: white;
      display: flex;
      padding-top: 20px;
      position: relative; }
      .header-wrap .landing-logo img {
        width: 45px;
        height: 45px;
        margin-right: 20px; }
      .header-wrap .landing-logo p {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: "Hind", sans-serif;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.25;
        position: absolute;
        top: -5px;
        left: 60px; }
        .header-wrap .landing-logo p span {
          font-size: 10px; }
    .header-wrap .header_heading {
      color: #2c303c;
      font-size: 70px;
      line-height: 1;
      width: 500px;
      margin-bottom: 40px;
      position: relative;
      z-index: 100; }
      .header-wrap .header_heading::after {
        content: "";
        background-color: #15a0c7;
        position: absolute;
        left: 0;
        top: 90px;
        width: 290px;
        height: 50px;
        z-index: -1; }
    .header-wrap .header_text {
      color: #2c3542;
      font-family: "Hind", sans-serif;
      max-width: 650px;
      line-height: 1.5;
      white-space: pre-line;
      margin-bottom: 55px; }
    .header-wrap .header_button {
      color: white;
      font-weight: bold;
      font-size: 16px;
      background-color: #699902;
      border: none;
      border-radius: 3px;
      padding: 5px;
      width: 140px;
      height: 50px;
      cursor: pointer; }
    .header-wrap .login {
      color: white;
      font-family: "Hind", sans-serif;
      font-size: 18px;
      margin-left: 145px; }

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fdfdfd; }
  .section_text {
    color: #2c303c;
    font-size: 40px;
    letter-spacing: 2px;
    position: relative;
    z-index: 100; }
    .section_text::after {
      content: "";
      background-color: #15a0c7;
      position: absolute;
      left: 220px;
      width: 210px;
      height: 50px;
      z-index: -1; }
  .section_card_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .section_card_wrap .section_card {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #20242e;
      color: white;
      width: 900px;
      height: 300px;
      margin-bottom: 20px;
      border-radius: 10px; }
      .section_card_wrap .section_card img {
        width: 375px;
        height: 250px;
        border-radius: 10px;
        margin-right: 50px; }
      .section_card_wrap .section_card_heading {
        display: block;
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px; }
      .section_card_wrap .section_card_text {
        line-height: 1.5;
        width: 450px; }
      .section_card_wrap .section_card a {
        display: block;
        text-align: center;
        color: white;
        color: white; }
        .section_card_wrap .section_card a:hover {
          text-decoration: none; }
  .section_banner {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #3f9a08 0%, #20996d 41%, #3956a3 91%);
    margin-top: 100px;
    width: 1000px;
    height: 40px;
    border-radius: 5px;
    padding: 50px;
    margin-bottom: -60px; }
    .section_banner_text_wrap {
      margin-left: 50px;
      margin-top: -50px; }
    .section_banner_heading {
      color: #2c303c;
      padding-top: 20px;
      font-size: 32px;
      margin-bottom: 0;
      position: relative;
      z-index: 100; }
      .section_banner_heading::after {
        content: "";
        background-color: #15a0c7;
        width: 65px;
        height: 40px;
        position: absolute;
        left: 120px;
        z-index: -1; }
    .section_banner_text {
      color: white; }
    .section_banner_button {
      color: white;
      font-weight: bold;
      font-size: 16px;
      background-color: #699902;
      border: none;
      border-radius: 3px;
      padding: 5px;
      width: 140px;
      height: 50px;
      cursor: pointer;
      margin-right: 200px; }

.footer {
  background-color: #20242e;
  width: 100%;
  height: 220px; }
  .footer-wrap {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 100px 50px 20px 50px; }
  .footer_logo {
    color: white;
    display: flex;
    padding-top: 20px;
    position: relative; }
    .footer_logo img {
      width: 45px;
      height: 45px;
      margin-right: 20px; }
    .footer_logo p {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-family: "Hind", sans-serif;
      font-size: 24px;
      font-weight: bold;
      line-height: 1.25;
      position: absolute;
      top: -5px;
      left: 60px; }
      .footer_logo p span {
        font-size: 10px; }
  .footer_text {
    font-size: 14px;
    width: 300px; }
