@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}
.bg-dark {
    color: white;
}
.btn-coral {
    background-color: coral;
}
.btn-coral:hover {
    background-color: lightcoral;
}