/* Reset css start  */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, b, u, i, center, ol, ul, li,
fieldset, form, label, figure, figcaption, footer, header, nav, section{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Reset css end */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
    font-weight: 400;
}

.wrapper {
    max-width: 90%;
    margin: 0 auto;
}

.header {
    background: url("./") no-repeat center;
    background-size: cover;
    height: 90vh;
    color: white;
}

.header_logo_text {
    text-transform: uppercase;
}

.header_navigation {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
}

.header_nav_list {
    display: flex;
}

.header_nav_list li {
    margin-right: 3em;
}

.header_nav_list li:last-child {
    margin-right: 0;
}

.header_heading {
    text-align: center;
    margin-top: 5em;
}

.header_heading h1 {
    font-size: 5em;
    letter-spacing: 5px;
}

.header_heading h1 span {
    font-size: 1.5em;
}

.header_heading_button {
    display: block;
    width: 20%;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    padding: 1em;
    margin-top: 15%;
    border: 2px solid white;
    text-align: center;
    text-decoration: none;
    color: white;
    background: rgba(0, 0, 0, 0.3);
}

.description {
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.description p:first-child {
    width: 20em;
    font-size: 1.4em;
    line-height: 1.2;
    letter-spacing: 1px;
    margin-right: 2%;
}

.description p:last-child {
    width: 50em;
    font-size: 0.9em;
    line-height: 1.5;
}

.description_text span,
h2 span,
label span {
    font-weight: bold;
}

.featured {
    background-color: #F3F3F3;
    max-height: 1800px;
    margin-bottom: 5%;
    padding-bottom: 5%;
}

.featured h2 {
    text-align: center;
    padding-top: 5.5em;
    font-size: 1.5rem;
    margin-bottom: 4em;
}

.featured_article {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    position: relative;
}

.featured_article img {
    filter: contrast(80%);
    max-width: 100%;
}

.featured_article p {
    width: 35%;
    text-align: center;
}

.featured_article p:nth-child(even) {
    margin-left: 2em;
}

.featured_article p:nth-child(odd) {
    margin-right: 2em;
}

.feature_article_block {
    position: relative;
    max-width: 65%;
}

.feature_article_block::before {
    z-index: 100;
    color: white;
    position: absolute;
    bottom: 1.3em;
    left: 1.5em;
}

.feature_article_block:nth-child(odd):before {
    content: "Januari'15 South France";
}

.feature_article_block:nth-child(even)::before {
    content: "Januari'15 South America";
}

.counter {
    position: absolute;
    top: 1em;
    right: 2em;
    padding: 5px;
    border: 2px solid white;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    vertical-align: middle;
    font-size: 0.9rem;
    color: white;
    width: 50px;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;
    height: 17vh;
    background-color: white;
    max-width: 100%;
}

.form label {
    font-size: 1.7em;
    margin-right: 2%;
    margin-left: 2%;
    width: 50%;
}

.form .email {
    height: 30%;
    width: 50%;
    padding-left: 1em;
    background-color: #F3F3F3 ;
    border: 1px solid black;
}

.form button {
    cursor: pointer;
    height: 33%;
    width: 10%;
    background-color: black;
    color: white;   
    border: none;
    margin-left: -2px;
    margin-right: 10%;
}

.footer_articles {
    display: flex;
    justify-content: space-between;
    height: 200px;
    max-width: 100%;
}

.footer_article {
    max-width: 25%;
}

.footer_article:nth-child(3) p {
    width: 11.5em;
    line-height: 1.5;
}

.footer_article h3 {
    font-size: 1.2rem;
    margin-bottom: 1em;
}

.footer_article p {
    font-size: 0.9rem;
    max-width: 100%;
    text-align: left;
}

.footer_article p:nth-child(3) {
    margin-top: 0.5em;
    color: lightgrey;
}

.footer_article fieldset {
    margin-top: 0.5em;
}

.footer_article .footer_email {
    height: 4vh;
    width: 60%;
    padding-left: 1em;
    background-color: #F3F3F3 ;
    border: 1px solid black;
}

.footer_article button {
    cursor: pointer;
    height: 4.59vh;
    width: 25%;
    background-color: black;
    color: white;   
    border: none;
    margin-left: -5px;
}

.line {
    border-bottom: 2px solid lightgray;
}

.footer_navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.footer_list {
    display: flex;
}

.footer_list_item {
    margin-right: 2em;
}