@media print {
.tm-sidebar,
.tm-main-nav, 
.blocks, 
.tm-content-box:not(.flex-2-col):not(.tm-content-header) {
    display: none;
}

.tm-content-header {
    margin-bottom: 0;
}

.tm-team-description-container {
    width: 350px;
}

.tm-team-description-container h2 {
    color: blue;
}

.padding-medium {
    padding-top: 0;
}

.flex-item img {
    width: 200px;
}

.tm-footer {
    margin-top:-50px;
}
}

@media screen {
    section::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-top: 0 solid transparent;
    border-left: 225px solid #88cef9;

}
}

.tm-main-nav ul li:hover {
    background-color: lightgrey;
    transition: 0.5s;
}

.tm-banner {
    background-color: rgb(245, 245, 245);
}

.tm-banner-inner {
    background-color: #fff;
}

.tm-sidebar, 
.tm-content-box,
.blocks {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

h2 + p {
    font-style: italic;
    color: grey;
}

.flex-2-col:first-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tm-section-description {
    text-indent: 25px;
    line-height: 2;
}

.tm-banner-text::first-letter,
.tm-team-description-container p::first-letter,
.tm-footer p::first-letter,
.box-work div p::first-letter {
    color: #87CEFA;
    font-size: 30px;
    line-height: 0;
}

.gallery-container .box-bg h2:hover {
    background-color: lightskyblue;
    color: white;
    font-weight: bold;
    transition: background-color 0.7s ease;
}

.carousel-content .tm-section-title {
    color: gainsboro;
    letter-spacing: 5px;
}

.tm-content-box ol li a {
    color: black;
}

.tm-content-box  ol li a:visited {
    text-decoration: underline;
}

.tm-content-box ol li a:hover {
    color: lightskyblue;
    text-decoration: underline double;
}

.text::after {
    position: absolute;
    content: " New";
    font-size: 10px;
    color: red;
}

.box-work:nth-child(even) {
    background-color: rgb(244, 244, 244)
}

.box-work {
    padding: 10px;
}

.box-work div p::first-letter {
    color: grey;
}

.mandatory-field::after {
    content: "*";
    color: red;
}

.submit-btn {
    margin-left: auto;
    display: block;
    width: 150px;
    height: 50px;
    background-color: white;
    color: lightskyblue;
    border-radius: 0%;
    border-color: lightskyblue;
}

.submit-btn:hover {
    background-color: lightskyblue;
    border-color: skyblue;
    filter: brightness(85%);
    
}