body {
    width: 60%;
    margin: 0 auto;
    margin-top: 150px;
}

.display {
    display: none;
}

.fieldset {
    padding: 10px;
    width: 100%;
}

input {
    height: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 15px;
    border: none;
    background-color: #63B990;
    width: 97%;
}

.btn {
    border: none;
    width: 150px;
    height: 50px;
    background-color: #67AC5B;
    cursor: pointer;
    margin-bottom: 5px;
}

.btn:hover {
    filter: brightness(1.2);
    transition: ease 0.3s;
}